#user_management_table {
    font-family: Ubuntu, monospace;
    font-size: 20px;
    width: 100%;

    color: #025151;
    background-color: rgb(255, 255, 255, 80%);

    border-radius: 5px;
    border-spacing: 0;
}

#user_management_table .button {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    vertical-align: center;
    width: 7rem;
    height: 2rem;
    margin-left: 0;
}

@media (max-width: 500px) {
    #user_management_table {
        font-size: 14px;
    }

    #user_management_table .button {
        font-size: 14px;
        height: 1.5rem;
    }
}

#user_management_table th {
    color: white;
    background-color: #025151;
}

#user_management_table td {
    padding: 1% 0;
    text-align: center;
}

#user_management_table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 30%);
}

#user_management_table .post-text {
    font-size: 14px;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
}

@media (max-width: 1024px) {
    #user_management_table .button {
        width: 5rem;
    }
}

.drop-up-container {
    position: relative;
    display: inline-block;
}

.drop-up-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 7rem;
    bottom: 50%;
    left: 30%;
    z-index: 2;
}

.drop-up-content a {
    padding: 10% 20%;
    text-decoration: none;
    display: block;
}

.drop-up-content a:hover {
    background-color: #ccc;
}

.drop-up-container:hover .drop-up-content {
    display: block;
}

.drop-up-container:hover .button {
    background-color: white;
    color: #025151;
}

.messages-header {
    display: inline;
}

.manage-button {
    width: 20%;
}

#save_button {
    margin-top: 2%;
}

.reject-button {
    color: #ae6000;
}

.accept-button {
    color: #025151;
}

.update-button {
    color: #025151;
}

.delete-button {
    color: darkred;
    background-color: #e5cece;
}

.delete-all-button {
    position: relative;
    float: right;
    width: 20%;
    height: 30%;
    border-radius: 5px;
    margin: 1%;
}

.mark-read-button, .mark-unread-button {
    color: #025151;
}