#user_management_table {
    font-family: Ubuntu, monospace;
    font-size: 20px;
    width: 100%;

    color: #025151;
    background-color: rgb(255, 255, 255, 80%);

    border-radius: 5px;
}

#user_management_table th {
    color: white;
    background-color: #025151;
    border-radius: 5px;
}

#user_management_table td {
    text-align: center;
}

#user_management_table .button {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    vertical-align: center;
    width: 7rem;
    height: 2rem;
    margin-left: 0;
}

@media (max-width: 1024px) {
    #user_management_table .button {
        width: 5rem;
    }
}

.drop-up-container {
    position: relative;
    display: inline-block;
}

.drop-up-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 7rem;
    bottom: 50%;
    left: 40%;
    z-index: 2;
}

.drop-up-content a {
    color: #025151;
    padding: 10% 20%;
    text-decoration: none;
    display: block;
}

.drop-up-content a:hover {
    background-color: #ccc;
}

.drop-up-container:hover .drop-up-content {
    display: block;
}

.drop-up-container:hover .button {
    background-color: white;
    color: #025151;
}