.button {
    vertical-align: top;
    position: relative;

    height: 70px;
    width: 160px;
    border: none;
    margin-left: 4px;

    font-family: Ubuntu, monospace;
    font-size: 18px;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    transition-duration: 0.35s;
    cursor: pointer;

    color: white;
    background-color: #01395d;
}

@media (max-width: 768px) {
    #library_search {
        display: none;
    }

    #book_search {
        display: none;
    }
}

.button:hover {
    color: #01395d;
    background-color: white;
}
