#menu_sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #015958;
    overflow-x: hidden;
    transition-duration: 0.5s;
}

#book_search_sidebar #selections_search #about_menu_bar {
    display: none;
}

#menu_sidebar a form {
    text-decoration: none;
    display: block;
    transition-duration: 0.3s;
}

#menu_sidebar #close_menu_sidebar_button {
    top: 0;
    font-size: 50px;
    margin-bottom: 2%;
}

#menu_sidebar .button {
    margin-left: 0;
    margin-top: 2%;
}

@media (max-width: 768px) {
    #book_search_sidebar {
        display: block;
    }

    #selections_search {
        display: block;
    }

    #about_menu_bar {
        display: block;
    }
}