@media (min-width: 1024px) {
    #main {
        position: relative;
        float: left;
        width: 50%;
        margin: 2% 0 2% 15.7%;
        z-index: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #main {
        position: relative;
        float: left;
        width: 60%;
        z-index: 0;
        margin: 2% 0 2% 5%;
    }
}

@media (max-width: 768px) {
    #main {
        position: relative;
        float: unset;
        z-index: 0;
        width: 90%;
        margin: 2% 0 2% 5%;
    }
}

@media (min-width: 1024px) {
    #thin_main {
        position: relative;
        float: left;
        width: 30%;
        margin: 2% 0 2% 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #thin_main {
        position: relative;
        float: left;
        width: 40%;
        margin: 2% 0 2% 20%;
    }
}

@media (max-width: 768px) {
    #thin_main {
        position: relative;
        float: unset;
        width: 90%;
        margin: 2% 0 2% 5%;
    }
}


@media (min-width: 1024px) {
    #account_main {
        position: relative;
        float: left;
        width: 40%;
        margin: 2% 0 2% 25%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #account_main {
        position: relative;
        float: left;
        width: 50%;
        margin: 2% 0 2% 15%;
    }
}

@media (max-width: 768px) {
    #account_main {
        position: relative;
        float: unset;
        width: 90%;
        margin: 2% 0 2% 5%;
    }
}