.create-post-form {
    font-size: 24px;
    font-family: Ubuntu, monospace;

    background-color: rgb(1, 89, 88, 0.6);
    border-radius: 5px;
    margin: 3%;
    padding: 3%;
}

.create-post-form .b-label {
    left: 2%;
}

.create-post-form .b-input {
    padding: 1%;
}

.create-post-form .negative-message {
    text-align: center;
}

#post_header_input {
    width: 95%;
    font-size: 22px;
}

#post_text_input {
    margin-top: 7%;
    font-size: 18px;
    width: 95%;
    resize: none;
}

#post_photo_input {
    font-size: 18px;
    width: 95%
}

#post_text_label {
    bottom: 93%;
}

#create_post_button {
    margin-top: 4%;
    padding: 3%;
}

input[type=file]::file-selector-button {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #025151;
    cursor: pointer;
    transition-duration: 0.35s;
    text-decoration: none;
    margin-right: 3%;

    font-family: Ubuntu, monospace;
    font-size: 20px;
}

input[type=file]::file-selector-button:hover {
    color: #025151;
    background-color: white;
}
